.icon{
    margin-right: 15px;
    height: 25px;
}

.card{
    width:350px;
    height:510px;
    border:1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
    background-color: white;
}

.card-info{
    margin:0 14px;
}

.card img{
    width:340px;
    height:180px;
    border-radius: 8px;
    margin: 7px;
}

.btn-card{
    width:100%;
    background-color: #FFE0B3;
    border:none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-text{
    margin-right:5px;
}

.btn-card:hover{
    background-color:orange;
}