.header-container{
    margin-left: 90px;
    margin-bottom: 0;
}

.title{
    display: flex;
    align-items: center;
    font-size: larger;
    /* color:blue; */
    color: orange;
}

.activities-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* margin-top:200px; */
}

.card-section{
    padding-top:100px;
    background-color: rgb(244, 238, 236);
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin:60px 10px;
}

.calculate-section{
    background-color: white;
}

